# Python
__pycache__/
*.py[cod]
core.python*

# Environment variables
env.py

# MongoDB
core.mongo*

# Microsoft
core.Microsoft*

# Node modules
node_modules/

# GitHub metadata
.github/

# Miscellaneous
cloudinary_python.txt
kaggle.json
