# Python
__pycache__/
*.py[cod]
core.python*

# Environment variables
env.py
.venv/

# MongoDB
core.mongo*

# Microsoft
core.Microsoft*

# Node modules
node_modules/

# GitHub metadata
.github/

# Miscellaneous
cloudinary_python.txt
kaggle.json

# Image files
*.jpg
*.jpeg
